@tailwind base;
@tailwind components;
@tailwind utilities;


.reply-highlight {
  animation: replyFlash 1.5s ease;
}

@keyframes replyFlash {
  0% {
    background-color: rgba(34, 197, 94, 0.4); /* green */
  }
  100% {
    background-color: transparent;
  }
}



@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.25s ease-out;
}



.audio-wave {
  animation: wave 1s infinite ease-in-out;
}

@keyframes wave {
  0% { height: 6px; }
  50% { height: 14px; }
  100% { height: 6px; }
}


.reply-jump {
  animation: replyShake 0.8s ease;
  background: rgba(37, 211, 102, 0.25);
}

@keyframes replyShake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-6px); }
  50% { transform: translateX(6px); }
  75% { transform: translateX(-3px); }
  100% { transform: translateX(0); }
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.reply-jump {
  animation: flash 0.9s ease;
}

@keyframes flash {
  0% { background-color: rgba(0, 255, 0, 0.25); }
  100% { background-color: transparent; }
}




.jump-highlight {
  animation: jumpFlash 1.2s ease;
}

@keyframes jumpFlash {
  0% {
    background-color: rgba(0, 255, 0, 0.25);
  }
  50% {
    background-color: rgba(0, 255, 0, 0.45);
  }
  100% {
    background-color: transparent;
  }
}


@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}




